<div class="kop-sekolah">
  <table class="kop-table">
    <tr>
      <td class="kop-logo-cell">
        <% if (typeof logoBase64 !=='undefined' && logoBase64) { %>
          <img src="data:image/png;base64,<%= logoBase64 %>" alt="Logo Sekolah" class="kop-logo-img" width="80"
            height="80" />
          <% } %>
      </td>
      <td class="kop-text-cell">
        <div class="judul-dokumen">TRANSKRIP NILAI SISWA</div>
        <div class="nama-sekolah">SDN 1 LANGENSARI</div>
        <div class="alamat">
          Jl. Cipanas, Kp. Korobokan, Cimanganten, Kec. Tarogong Kaler, Kabupaten Garut, Jawa Barat 44151
        </div>
      </td>
    </tr>
  </table>
  <div class="kop-separator"></div>
</div>