<div class="identitas-wrapper">
  <table class="identitas-table">
    <tr>
      <td width="15%"><span class="identitas-label">Nama Lengkap</span></td>
      <td width="2%" class="identitas-separator">:</td>
      <td width="38%" class="identitas-value">
        <%= siswa.nama %>
      </td>

      <td width="15%"><span class="identitas-label">Kelas Saat Ini</span></td>
      <td width="2%" class="identitas-separator">:</td>
      <td width="28%" class="identitas-value">
        <%= siswa.kelas %>
      </td>
    </tr>
    <tr>
      <td><span class="identitas-label">NISN</span></td>
      <td class="identitas-separator">:</td>
      <td class="identitas-value">
        <%= siswa.nisn %>
      </td>

      <td><span class="identitas-label">Orang Tua/Wali</span></td>
      <td class="identitas-separator">:</td>
      <td class="identitas-value">
        <%= siswa.nama_ortu %>
      </td>
    </tr>
  </table>
</div>