<div class="ttd-wrapper">
  <div class="ttd-row">
    <div class="ttd-col">
      <div class="ttd-role">Mengetahui,<br>Kepala Sekolah</div>
      <div class="ttd-name" style="margin-top: 70px;">(HJ. NINING KARNINGSIH, S.Pd., SD.)</div>
      <div class="ttd-nip">NIP.196563071986102004</div>
    </div>

    <div class="ttd-col">
      <div class="ttd-role">Garut, <%= tanggal_cetak %><br>Wali Kelas</div>
      <div class="ttd-name" style="margin-top: 70px;">(<%= wali_kelas_nama %>)</div>
      <div class="ttd-nip">NIP. <%= wali_kelas_nip %>
      </div>
    </div>
  </div>
</div>